* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding-top: var(--header-height);
	font-family: Arial, Helvetica, sans-serif;
}

main {
	padding: var(--main-spacing);
}
header {
	background-color: var(--main-color);
}
footer {
	background-color: var(--dark-bg);
	padding: 1.5rem 0;
}

/*! DEBUG */

.deb {
	border: 1px solid red;
}

/*! UTILS */
.h1 {
	height: var(--header-height);
}
.container {
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
}
.flex {
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}
.gap {
	gap: 2rem;
}
.xcenter {
	justify-content: center;
}
.ycenter {
	align-items: center;
}
.between {
	justify-content: space-between;
}
.end {
	justify-content: flex-end;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}
.col {
	width: 30%;
}
.block {
	display: block;
}

/*! ROOT */
:root {
	--text-color-light: #fffdfb;
	--main-color: #ff6900;
	--discount-color: #ff0000;
	--special-color: #008000;
	--dark-bg: #1a1a1a;

	--main-spacing: 6rem;
	--logo-size: 300px;
}

/*! SPECIFIC */
.card {
	position: relative;
	width: calc((100% - 4rem) / 3);
}
.card-img {
	position: relative;
}

.first {
	width: 100%;
	position: absolute;
}
.first:hover {
	z-index: -1;
}
.hide {
	z-index: -1;
	width: 100%;
}

.card-content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffffff;
}
.card-content > span {
	margin: 0.2rem 0;
}
.wish {
	position: absolute;
	background-color: #ffffff;
	padding: 0.1rem 0.5rem;
	font-size: 1.5rem;
	top: 5px;
	right: -5px;
}
.discount {
	position: absolute;
	left: 0;
	right: 80%;
	bottom: 20%;
	background-color: var(--discount-color);
	color: var(--text-color-light);
	text-align: center;
	padding: 0.3rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
}
.special {
	position: absolute;
	left: 22%;
	bottom: 20%;
	background-color: var(--special-color);
	color: var(--text-color-light);
	text-align: center;
	padding: 0.3rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
	text-transform: capitalize;
}
.brand {
	color: #6e6e6e;
	font-size: 0.8rem;
	font-weight: 600;
	text-transform: capitalize;
}
.article-name {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9rem;
}
.price {
	color: var(--discount-color);
	font-weight: 600;
	font-size: 0.8rem;
}
.old-price {
	color: #6e6e6e;
	font-weight: 600;
	font-size: 0.8rem;
	text-decoration: line-through;
	display: inline;
}

header ul li,
footer ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.5rem 0;
}

header a,
footer a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.1rem;
	color: var(--text-color-light);
}
.logo {
	width: 100%;
	position: relative;
	right: 50px;
}
.logo-cont {
	width: var(--logo-size);
}
.icons > a {
	padding: 0.5rem;
}

.hide:hover {
	z-index: 0;
}
.small > li a {
	font-size: 0.8rem;
}
.findus {
	color: var(--text-color-light);
	text-align: center;
	font-size: 0.8rem;
	font-weight: 600;
}

.findus li a {
	font-size: 1.8rem;
}
.alone {
	left: 0;
}
